#jinja2: lstrip_blocks: "True"
apiVersion: operator.openshift.io/v1
kind: Console
metadata:
  annotations:
    release.openshift.io/create-only: "true"
  name: cluster
spec:
  customization:
    {% if crc_config_custom_logo_file is defined %}
    customLogoFile:
      key: custom-logo.svg
      name: custom-logo
    {% endif %}
    {% if crc_config_custom_product_name is defined %}
    customProductName: {{ crc_config_custom_product_name }}
    {% endif %}
  managementState: Managed
