#jinja2: lstrip_blocks: "True"
apiVersion: v1
kind: ConfigMap
{% if crc_config_custom_logo_file is defined %}
data:
  custom-logo.svg: |
    {{ lookup('file', crc_config_custom_logo_file) | indent(width=4) }}
{% endif %}
metadata:
  creationTimestamp: null
  name: custom-logo
  namespace: openshift-config
