#jinja2: lstrip_blocks: "True"
apiVersion: user.openshift.io/v1
kind: User
metadata:
  name: {{ item.username }}
groups: null
identities:
- developer:{{ item.username }}
{% if item.fullname is defined %}
fullName: {{ item.fullname }}
{% endif %}
